.div-wrapper {
  background-color: #ffffff;
  width: 100%;
  min-width: 1920px;
  min-height: 2614px;
  position: relative;
}

.div-wrapper .group {
  position: absolute;
  width: 1280px;
  height: 1290px;
  top: 1192px;
  left: 324px;
  display: flex;
  flex-direction: column;
}

.div-wrapper .div {
  height: 180px;
  position: relative;
}

.div-wrapper .group-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1284px;
  height: 180px;
}

.div-wrapper .rectangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 1280px;
  height: 180px;
  border: 3px solid;
  border-color: #00000033;
}

.div-wrapper .ellipse {
  position: absolute;
  top: 19px;
  left: 34px;
  width: 40px;
  height: 40px;
}

.div-wrapper .group-3 {
  position: absolute;
  top: 30px;
  left: 94px;
  width: 136px;
  height: 17px;
  display: flex;
  gap: 19px;
}

.div-wrapper .text-wrapper {
  width: 39px;
  height: 17px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #9c9c9c;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .ellipse-2 {
  margin-top: 6px;
  width: 5px;
  height: 5px;
  background-color: #d9d9d9;
  border-radius: 2.5px;
  aspect-ratio: 1;
}

.div-wrapper .text-wrapper-2 {
  width: 50px;
  height: 17px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #9c9c9c;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .text-wrapper-3 {
  position: absolute;
  top: 66px;
  left: 34px;
  width: 617px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .p {
  position: absolute;
  top: 96px;
  left: 34px;
  font-family: "SF Pro-Regular", Helvetica;
  font-weight: 400;
  color: #9c9c9c;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .group-4 {
  position: absolute;
  width: 9.42%;
  height: 9.44%;
  top: 85.56%;
  left: 2.65%;
}

.div-wrapper .group-5 {
  position: absolute;
  width: 13.44%;
  height: 76.54%;
  top: 5.88%;
  left: 0;
}

.div-wrapper .vector {
  position: absolute;
  width: 55.00%;
  height: 62.50%;
  top: 33.66%;
  left: 41.92%;
}

.div-wrapper .img {
  position: absolute;
  width: 80.05%;
  height: 81.25%;
  top: -3.84%;
  left: -3.07%;
}

.div-wrapper .vector-2 {
  position: absolute;
  width: 9.92%;
  height: 64.71%;
  top: 14.71%;
  left: 61.57%;
}

.div-wrapper .text-wrapper-4 {
  left: 99px;
  position: absolute;
  top: 0;
  font-family: "SF Pro-Regular", Helvetica;
  font-weight: 400;
  color: #9c9c9c;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .text-wrapper-5 {
  left: 30px;
  position: absolute;
  top: 0;
  font-family: "SF Pro-Regular", Helvetica;
  font-weight: 400;
  color: #9c9c9c;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .element {
  position: absolute;
  top: 16px;
  left: 1115px;
  width: 148px;
  height: 148px;
  object-fit: cover;
}

.div-wrapper .group-6 {
  height: 180px;
  position: relative;
  margin-top: 5px;
}

.div-wrapper .element-2 {
  position: absolute;
  top: 16px;
  left: 1115px;
  width: 148px;
  height: 148px;
  aspect-ratio: 1;
  object-fit: cover;
}

.div-wrapper .group-7 {
  height: 716px;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
}

.div-wrapper .group-8 {
  margin-left: 34px;
  width: 621px;
  height: 149px;
  position: relative;
}

.div-wrapper .ellipse-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
}

.div-wrapper .group-9 {
  position: absolute;
  top: 11px;
  left: 60px;
  width: 136px;
  height: 17px;
  display: flex;
  gap: 19px;
}

.div-wrapper .text-wrapper-6 {
  position: absolute;
  top: 47px;
  left: 0;
  width: 617px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .text-wrapper-7 {
  position: absolute;
  top: 74px;
  left: 0;
  width: 297px;
  font-family: "SF Pro-Regular", Helvetica;
  font-weight: 400;
  color: #9c9c9c;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .group-10 {
  height: 11.41%;
  top: 88.59%;
  position: absolute;
  width: 19.48%;
  left: 0;
}

.div-wrapper .group-11 {
  margin-left: 34px;
  width: 621px;
  height: 152px;
  position: relative;
  margin-top: 36px;
}

.div-wrapper .s {
  position: absolute;
  top: 77px;
  left: 0;
  font-family: "SF Pro-Regular", Helvetica;
  font-weight: 400;
  color: #9c9c9c;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .group-12 {
  height: 11.18%;
  top: 88.82%;
  position: absolute;
  width: 19.48%;
  left: 0;
}

.div-wrapper .group-13 {
  width: 1280px;
  height: 180px;
  position: relative;
  margin-top: 14px;
}

.div-wrapper .group-14 {
  width: 1284px;
  height: 180px;
  position: relative;
  margin-top: 5px;
}

.div-wrapper .rectangle-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 50px;
  background-color: #000000;
}

.div-wrapper .image {
  position: absolute;
  top: 153px;
  left: 320px;
  width: 288px;
  height: 73px;
  aspect-ratio: 3.96;
}

.div-wrapper .group-wrapper {
  position: absolute;
  width: 1280px;
  height: 54px;
  top: 320px;
  left: 320px;
  display: flex;
}

.div-wrapper .group-15 {
  margin-top: 0;
  width: 1282px;
  height: 53.78px;
  margin-left: 0;
  position: relative;
}

.div-wrapper .group-16 {
  position: absolute;
  top: 1px;
  left: calc(50.00% - 641px);
  width: 1280px;
  height: 54px;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 4px 6.5px 2px #00000040;
}

.div-wrapper .text-wrapper-8 {
  position: absolute;
  top: 15px;
  left: 84px;
  width: 495px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #7f7f7f;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.div-wrapper .vector-3 {
  position: absolute;
  width: 2.04%;
  height: 50.40%;
  top: 22.37%;
  left: 0;
}

.div-wrapper .navbar {
  position: absolute;
  top: 176px;
  left: 908px;
  width: 705px;
  height: 32px;
  display: flex;
}

.div-wrapper .text-wrapper-9 {
  width: 166px;
  height: 29px;
  font-family: "SF Pro-Semibold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .text-wrapper-10 {
  width: 166px;
  height: 29px;
  margin-left: 4px;
  font-family: "SF Pro-Semibold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .text-wrapper-11 {
  width: 119px;
  height: 5px;
  margin-left: 23px;
  font-family: "SF Pro-Semibold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-12 {
  width: 133px;
  height: 32px;
  font-family: "SF Pro-Semibold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .text-wrapper-13 {
  width: 80px;
  height: 32px;
  margin-left: 4px;
  font-family: "SF Pro-Semibold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .buy {
  position: absolute;
  width: 205px;
  height: 48px;
  top: 166px;
  left: 1641px;
  display: flex;
}

.div-wrapper .group-17 {
  width: 206.97px;
  height: 48px;
  position: relative;
}

.div-wrapper .rectangle-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 205px;
  height: 48px;
  background-color: #000000;
}

.div-wrapper .text-wrapper-14 {
  position: absolute;
  top: 9px;
  left: 58px;
  width: 86px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.div-wrapper .rectangle-4 {
  position: absolute;
  top: 1177px;
  left: 324px;
  width: 1280px;
  height: 5px;
  background-color: #000000;
}

.div-wrapper .group-18 {
  position: absolute;
  top: 2266px;
  left: 0;
  width: 1920px;
  height: 348px;
  display: flex;
  background-image: url(./img/rectangle-140.svg);
  background-size: 100% 100%;
}

.div-wrapper .group-19 {
  margin-top: 106px;
  width: 1277.69px;
  margin-left: 319.5px;
  display: flex;
}

.div-wrapper .frame {
  width: 175px;
  height: 100px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  display: inline-flex;
  position: relative;
}

.div-wrapper .text-wrapper-15 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: var(--text);
  font-size: 20px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.div-wrapper .frame-2 {
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 0 0 auto;
  display: inline-flex;
  position: relative;
}

.div-wrapper .element-3 {
  position: relative;
  width: 175px;
  margin-top: -1.00px;
  font-family: "SF Pro-Regular", Helvetica;
  font-weight: 400;
  color: var(--text);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.div-wrapper .frame-3 {
  width: 99px;
  height: 116px;
  margin-left: 402.9px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  display: inline-flex;
  position: relative;
}

.div-wrapper .text-wrapper-16 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "SF Pro-Medium", Helvetica;
  font-weight: 500;
  color: var(--text);
  font-size: 20px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-17 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "SF Pro-Regular", Helvetica;
  font-weight: 400;
  color: var(--text);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-18 {
  position: relative;
  width: fit-content;
  font-family: "SF Pro-Regular", Helvetica;
  font-weight: 400;
  color: var(--text);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.div-wrapper .frame-wrapper {
  width: 198px;
  height: 136px;
  margin-left: 402.8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  display: inline-flex;
  position: relative;
}

.div-wrapper .frame-4 {
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 0 0 auto;
  display: inline-flex;
  position: relative;
}

.div-wrapper .frame-5 {
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex: 0 0 auto;
  display: inline-flex;
  position: relative;
}

.div-wrapper .frame-6 {
  align-items: center;
  gap: 8px;
  flex: 0 0 auto;
  display: inline-flex;
  position: relative;
}

.div-wrapper .qr-code {
  position: relative;
  width: 80px;
  height: 80px;
  background-color: #000000;
}

.div-wrapper .qrcode {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.div-wrapper .frame-7 {
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex: 0 0 auto;
  display: inline-flex;
  position: relative;
}

.div-wrapper .google-play {
  position: relative;
  width: 110px;
  height: 40px;
  background-color: #030406;
}

.div-wrapper .png-transparent {
  position: absolute;
  top: 4px;
  left: 2px;
  width: 105px;
  height: 31px;
}

.div-wrapper .vector-4 {
  position: absolute;
  top: 22px;
  left: 99px;
  width: 2px;
  height: 2px;
}

.div-wrapper .vector-5 {
  position: absolute;
  top: 21px;
  left: 98px;
  width: 2px;
  height: 5px;
}

.div-wrapper .vector-6 {
  position: absolute;
  top: 22px;
  left: 94px;
  width: 1px;
  height: 1px;
}

.div-wrapper .vector-7 {
  position: absolute;
  top: 22px;
  left: 98px;
  width: 2px;
  height: 3px;
}

.div-wrapper .app-store {
  position: relative;
  width: 110px;
  height: 40px;
  background-color: #000000;
}

.div-wrapper .download-appstore {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 105px;
  height: 35px;
}

.div-wrapper .text-wrapper-19 {
  position: absolute;
  top: 462px;
  left: calc(50.00% - 44px);
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .group-20 {
  position: absolute;
  top: 656px;
  left: 321px;
  width: 1286px;
  height: 229px;
}

.div-wrapper .text-wrapper-20 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #ff3e3e;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .rectangle-5 {
  position: absolute;
  top: 29px;
  left: 0;
  width: 1280px;
  height: 200px;
  background-color: #ffffff;
  border-radius: 2px;
  border: 4px solid;
  border-color: #cccccc;
}

.div-wrapper .ellipse-4 {
  position: absolute;
  top: 52px;
  left: 37px;
  width: 40px;
  height: 40px;
}

.div-wrapper .group-21 {
  position: absolute;
  top: 63px;
  left: 97px;
  width: 136px;
  height: 17px;
  display: flex;
  gap: 19px;
}

.div-wrapper .text-wrapper-21 {
  position: absolute;
  top: 103px;
  left: 37px;
  width: 617px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .text-wrapper-22 {
  position: absolute;
  top: 133px;
  left: 37px;
  font-family: "SF Pro-Regular", Helvetica;
  font-weight: 400;
  color: #9c9c9c;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .element-4 {
  position: absolute;
  top: 53px;
  left: 1118px;
  width: 148px;
  height: 148px;
  object-fit: cover;
}

.div-wrapper .group-22 {
  position: absolute;
  width: 9.41%;
  height: 7.42%;
  top: 83.41%;
  left: 2.88%;
}

.div-wrapper .group-23 {
  position: absolute;
  width: 0;
  height: 7.28%;
  top: 2.62%;
  left: 4.28%;
}

.div-wrapper .vector-8 {
  position: absolute;
  width: 99.97%;
  height: 30.00%;
  top: 70.00%;
  left: 0;
}

.div-wrapper .vector-9 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.div-wrapper .group-24 {
  position: absolute;
  top: 604px;
  left: 321px;
  width: 242px;
  height: 24px;
}

.div-wrapper .text-wrapper-23 {
  position: absolute;
  top: 0;
  left: 1px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-24 {
  position: absolute;
  top: 0;
  left: 150px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #0000007d;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.div-wrapper .line {
  position: absolute;
  top: 23px;
  left: 0;
  width: 89px;
  height: 1px;
  object-fit: cover;
}

.div-wrapper .rectangle-6 {
  position: absolute;
  top: 531px;
  left: 320px;
  width: 1280px;
  height: 44px;
  background-color: #f1f1f1;
  border-radius: 5px;
  border: 1px solid;
  border-color: #00000033;
}

.div-wrapper .text-wrapper-25 {
  position: absolute;
  top: 546px;
  left: 346px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #00000066;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .pencil-plus {
  position: absolute;
  top: 541px;
  left: 1559px;
  width: 24px;
  height: 24px;
}

.div-wrapper .vector-10 {
  position: absolute;
  width: 75.00%;
  height: 72.20%;
  top: 15.30%;
  left: 12.50%;
}

.div-wrapper .group-25 {
  position: absolute;
  top: 927px;
  left: 321px;
  width: 1280px;
  height: 229px;
}

.div-wrapper .group-26 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1286px;
  height: 229px;
}

.div-wrapper .text-wrapper-26 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #ffb200;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .rectangle-7 {
  position: absolute;
  top: 29px;
  left: 0;
  width: 1280px;
  height: 200px;
  border-radius: 2px;
  border: 4px solid;
  border-color: #cccccccc;
}

.div-wrapper .ellipse-5 {
  position: absolute;
  top: 51px;
  left: 37px;
  width: 40px;
  height: 40px;
}

.div-wrapper .group-27 {
  position: absolute;
  top: 62px;
  left: 97px;
  width: 136px;
  height: 17px;
  display: flex;
  gap: 19px;
}

.div-wrapper .text-wrapper-27 {
  position: absolute;
  top: 105px;
  left: 37px;
  width: 617px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .text-wrapper-28 {
  position: absolute;
  top: 135px;
  left: 37px;
  font-family: "SF Pro-Regular", Helvetica;
  font-weight: 400;
  color: #9c9c9c;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .group-28 {
  position: absolute;
  width: 9.41%;
  height: 7.42%;
  top: 84.28%;
  left: 2.88%;
}

.div-wrapper .star {
  position: absolute;
  top: 3px;
  left: 64px;
  width: 21px;
  height: 20px;
}

.div-wrapper .element-5 {
  position: absolute;
  top: 56px;
  left: 1118px;
  width: 148px;
  height: 146px;
  object-fit: cover;
}

.div-wrapper .element-wrapper {
  position: absolute;
  top: 1747px;
  left: 324px;
  width: 1280px;
  height: 180px;
  display: flex;
  border: 3px solid;
  border-color: #00000033;
}

.div-wrapper .element-6 {
  margin-top: 16px;
  width: 148px;
  height: 148px;
  margin-left: 1115px;
  aspect-ratio: 1;
  object-fit: cover;
}

.div-wrapper .img-wrapper {
  position: absolute;
  top: 1932px;
  left: 324px;
  width: 1280px;
  height: 180px;
  display: flex;
  border: 3px solid;
  border-color: #00000033;
}
