:root {
  --text: rgba(250, 250, 250, 1);
  --secondary: rgba(245, 245, 245, 1);
  --heading-20px-regular-font-family: "Inter", Helvetica;
  --heading-20px-regular-font-weight: 400;
  --heading-20px-regular-font-size: 20px;
  --heading-20px-regular-letter-spacing: 0.6px;
  --heading-20px-regular-line-height: 20px;
  --heading-20px-regular-font-style: normal;
  --title-16px-medium-font-family: "Poppins", Helvetica;
  --title-16px-medium-font-weight: 500;
  --title-16px-medium-font-size: 16px;
  --title-16px-medium-letter-spacing: 0px;
  --title-16px-medium-line-height: 24px;
  --title-16px-medium-font-style: normal;
}
