.div-wrapper {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  min-width: 1920px;
  min-height: 3088px;
  position: relative;
}

.div-wrapper .image {
  position: absolute;
  top: 156px;
  left: 320px;
  width: 288px;
  height: 73px;
  aspect-ratio: 3.96;
}

.div-wrapper .group {
  position: absolute;
  width: 1280px;
  height: 54px;
  top: 303px;
  left: 320px;
  display: flex;
}

.div-wrapper .div {
  margin-top: 0;
  width: 1282px;
  height: 53.78px;
  margin-left: 0;
  position: relative;
}

.div-wrapper .group-2 {
  position: absolute;
  top: 1px;
  left: calc(50.00% - 641px);
  width: 1280px;
  height: 54px;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 4px 6.5px 2px #00000040;
}

.div-wrapper .text-wrapper {
  position: absolute;
  top: 15px;
  left: 84px;
  width: 495px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #7f7f7f;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.div-wrapper .vector {
  position: absolute;
  width: 2.04%;
  height: 50.40%;
  top: 22.37%;
  left: 0;
}

.div-wrapper .overlap {
  position: absolute;
  width: 1302px;
  height: 3313px;
  top: 443px;
  left: 313px;
}

.div-wrapper .group-3 {
  position: absolute;
  width: 1302px;
  height: 3313px;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.div-wrapper .navbar {
  margin-left: 7px;
  width: 407px;
  display: flex;
  gap: 26px;
}

.div-wrapper .text-wrapper-2 {
  width: 41px;
  height: 21px;
  font-family: "SF Pro-Medium", Helvetica;
  font-weight: 500;
  color: #979797;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .text-wrapper-3 {
  width: 41px;
  color: #000000;
  height: 21px;
  font-family: "SF Pro-Medium", Helvetica;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .text-wrapper-4 {
  width: 60px;
  color: #979797;
  height: 21px;
  font-family: "SF Pro-Medium", Helvetica;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .auto-flex {
  width: 1301.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 3261.56px;
}

.div-wrapper .overlap-group {
  width: 1281px;
  height: 480px;
  position: relative;
  margin-left: 3px;
}

.div-wrapper .group-wrapper {
  position: absolute;
  height: 472px;
  top: 8px;
  left: 0;
  display: flex;
  align-items: flex-start;
  min-width: 1281px;
}

.div-wrapper .group-4 {
  width: 1281px;
  display: flex;
}

.div-wrapper .group-5 {
  height: 472px;
  width: 1280.9px;
  position: relative;
}

.div-wrapper .group-6 {
  position: absolute;
  top: 48px;
  left: 0;
  height: 424px;
  display: flex;
  padding: 17.3px 18px;
  align-items: flex-start;
  min-width: 420px;
  aspect-ratio: 0.99;
  background-image: url(./img/image-30.png);
  background-size: 100% 100%;
}

.div-wrapper .group-7 {
  width: 27px;
  height: 35px;
  display: flex;
  aspect-ratio: 0.79;
}

.div-wrapper .group-8 {
  width: 29.42px;
  height: 34.89px;
  position: relative;
}

.div-wrapper .rectangle {
  left: 1px;
  width: 27px;
  height: 27px;
  background-color: #020202;
  aspect-ratio: 1;
  position: absolute;
  top: 0;
}

.div-wrapper .text-wrapper-5 {
  position: absolute;
  top: 5px;
  left: 7px;
  width: 13px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .group-9 {
  position: absolute;
  top: 48px;
  left: calc(50.00% + 230px);
  height: 424px;
  display: flex;
  padding: 19.0px 14.6px;
  align-items: flex-start;
  min-width: 410px;
  aspect-ratio: 0.97;
  background-image: url(./img/image-31.png);
  background-size: cover;
  background-position: 50% 50%;
}

.div-wrapper .group-10 {
  width: 27px;
  height: 34px;
  display: flex;
  aspect-ratio: 0.8;
}

.div-wrapper .group-11 {
  width: 29.11px;
  height: 33.82px;
  position: relative;
}

.div-wrapper .rectangle-2 {
  top: 0;
  width: 27px;
  position: absolute;
  left: 0;
  height: 27px;
  background-color: #020202;
  aspect-ratio: 1;
}

.div-wrapper .text-wrapper-6 {
  position: absolute;
  top: 4px;
  left: 8px;
  width: 12px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .group-12 {
  position: absolute;
  width: 258px;
  height: 25px;
  top: 0;
  left: 4px;
  display: flex;
  gap: 32px;
}

.div-wrapper .group-13 {
  width: 76px;
  height: 25px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.div-wrapper .text-wrapper-7 {
  margin-left: 3px;
  width: 67px;
  height: 21px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  white-space: nowrap;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .line {
  width: 74px;
  height: 2px;
}

.div-wrapper .group-14 {
  width: 150px;
  display: flex;
}

.div-wrapper .group-15 {
  width: 154px;
  height: 22px;
  display: flex;
}

.div-wrapper .text-wrapper-8 {
  margin-top: 1px;
  width: 50px;
  height: 21px;
  font-family: "SF Pro-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 18px;
  white-space: nowrap;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .img {
  margin-top: 2px;
  width: 1.5px;
  height: 19px;
  margin-left: 25px;
}

.div-wrapper .text-wrapper-9 {
  width: 50px;
  height: 21px;
  margin-left: 23.5px;
  font-family: "SF Pro-Medium", Helvetica;
  font-weight: 500;
  color: #979797;
  font-size: 18px;
  white-space: nowrap;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .overlap-2 {
  width: 1285px;
  height: 1449px;
  position: relative;
  margin-top: 13px;
}

.div-wrapper .overlap-group-wrapper {
  position: absolute;
  height: 797px;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  min-width: 1285px;
}

.div-wrapper .overlap-group-2 {
  width: 1285px;
  height: 797px;
  position: relative;
}

.div-wrapper .bape {
  position: absolute;
  width: 427px;
  height: 170px;
  top: 625px;
  left: 0;
  display: flex;
  aspect-ratio: 2.51;
}

.div-wrapper .group-16 {
  width: 437.12px;
  height: 170px;
  position: relative;
}

.div-wrapper .text-wrapper-10 {
  position: absolute;
  top: 0;
  left: 3px;
  width: 115px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .text-wrapper-11 {
  top: 0;
  left: 409px;
  width: 18px;
  position: absolute;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .text-wrapper-12 {
  position: absolute;
  top: 90px;
  left: 0;
  width: 162px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .text-wrapper-13 {
  position: absolute;
  top: 47px;
  left: 4px;
  width: 419px;
  font-family: "SF Pro-Regular", Helvetica;
  font-weight: 400;
  color: #484848;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .heart {
  top: 137px;
  left: 4px;
  position: absolute;
  width: 33px;
  height: 33px;
}

.div-wrapper .vector-2 {
  position: absolute;
  width: 75.04%;
  height: 66.71%;
  top: 13.61%;
  left: 9.44%;
}

.div-wrapper .text-wrapper-14 {
  position: absolute;
  top: 139px;
  left: 42px;
  width: 26px;
  font-family: "SF Pro-Regular", Helvetica;
  font-weight: 400;
  color: #747474;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .carhartt {
  position: absolute;
  width: 412px;
  height: 172px;
  top: 625px;
  left: 436px;
  display: flex;
}

.div-wrapper .group-17 {
  width: 422px;
  height: 172px;
  position: relative;
}

.div-wrapper .text-wrapper-15 {
  top: 0;
  left: 393px;
  white-space: nowrap;
  position: absolute;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .text-wrapper-16 {
  position: absolute;
  top: 90px;
  left: 2px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 30px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .text-wrapper-17 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-18 {
  position: absolute;
  top: 48px;
  left: 2px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .vector-wrapper {
  top: 139px;
  left: 4px;
  position: absolute;
  width: 33px;
  height: 33px;
}

.div-wrapper .vector-3 {
  position: absolute;
  width: 75.04%;
  height: 66.71%;
  top: 13.59%;
  left: 9.42%;
}

.div-wrapper .text-wrapper-19 {
  position: absolute;
  top: 141px;
  left: 42px;
  font-family: "SF Pro-Regular", Helvetica;
  font-weight: 400;
  color: #747474;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .group-18 {
  position: absolute;
  height: 792px;
  top: 0;
  left: 4px;
  flex-direction: column;
  width: 1281px;
  display: flex;
}

.div-wrapper .group-19 {
  margin-left: 432px;
  width: 429px;
  height: 174px;
  position: relative;
}

.div-wrapper .text-wrapper-20 {
  top: 0;
  left: 384px;
  position: absolute;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-21 {
  position: absolute;
  top: 83px;
  left: 0;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 30px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .text-wrapper-22 {
  position: absolute;
  top: 40px;
  left: 0;
  font-family: "SF Pro-Regular", Helvetica;
  font-weight: 400;
  color: #484848;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .group-20 {
  width: 15.62%;
  position: absolute;
  height: 18.97%;
  top: 81.03%;
  left: 0;
}

.div-wrapper .vector-4 {
  position: absolute;
  width: 36.96%;
  height: 66.71%;
  top: 9.09%;
  left: 5.97%;
}

.div-wrapper .group-21 {
  position: absolute;
  top: 0;
  left: 0;
  width: 69px;
  height: 33px;
  display: flex;
}

.div-wrapper .text-wrapper-23 {
  width: 29px;
  height: 29px;
  margin-left: 38px;
  font-family: "SF Pro-Regular", Helvetica;
  font-weight: 400;
  color: #747474;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .group-22 {
  height: 424px;
  margin-top: 5px;
  width: 1280.9px;
  position: relative;
}

.div-wrapper .group-23 {
  top: 0;
  background-image: url(./img/image-30-1.png);
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  left: 0;
  height: 424px;
  display: flex;
  padding: 17.3px 18px;
  align-items: flex-start;
  min-width: 420px;
  aspect-ratio: 0.99;
}

.div-wrapper .group-24 {
  position: absolute;
  top: 0;
  left: calc(50.00% - 200px);
  height: 424px;
  display: flex;
  padding: 19.4px 15.5px;
  align-items: flex-start;
  min-width: 410px;
  background-image: url(./img/image-31-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.div-wrapper .group-25 {
  height: 33px;
  aspect-ratio: 0.81;
  width: 27px;
  display: flex;
}

.div-wrapper .group-26 {
  width: 29.11px;
  height: 33.46px;
  position: relative;
}

.div-wrapper .text-wrapper-24 {
  position: absolute;
  top: 4px;
  left: calc(50.00% - 7px);
  width: 12px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .group-27 {
  top: 0;
  padding: 19.0px 14.6px;
  background-image: url(./img/image-31-2.png);
  position: absolute;
  left: calc(50.00% + 230px);
  height: 424px;
  display: flex;
  align-items: flex-start;
  min-width: 410px;
  aspect-ratio: 0.97;
  background-size: cover;
  background-position: 50% 50%;
}

.div-wrapper .group-28 {
  margin-left: 869px;
  width: 416px;
  height: 174px;
  position: relative;
  margin-top: 15px;
}

.div-wrapper .text-wrapper-25 {
  top: 0;
  left: 371px;
  position: absolute;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-26 {
  position: absolute;
  top: 83px;
  left: 1px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 30px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .text-wrapper-27 {
  position: absolute;
  top: 0;
  left: 1px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-28 {
  position: absolute;
  top: 40px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .group-29 {
  width: 16.11%;
  position: absolute;
  height: 18.97%;
  top: 81.03%;
  left: 0;
}

.div-wrapper .group-30 {
  position: absolute;
  width: 1285px;
  height: 1449px;
  top: 0;
  left: 0;
}

.div-wrapper .overlap-3 {
  position: absolute;
  width: 1285px;
  height: 620px;
  top: 829px;
  left: 0;
}

.div-wrapper .bape-2 {
  position: absolute;
  width: 427px;
  height: 170px;
  top: 446px;
  left: 0;
  display: flex;
  aspect-ratio: 2.51;
}

.div-wrapper .text-wrapper-29 {
  position: absolute;
  top: 0;
  left: 7px;
  width: 239px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .text-wrapper-30 {
  position: absolute;
  top: 47px;
  left: 8px;
  width: 261px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .carhartt-2 {
  position: absolute;
  width: 412px;
  height: 172px;
  top: 446px;
  left: 444px;
  display: flex;
}

.div-wrapper .text-wrapper-31 {
  position: absolute;
  top: 48px;
  left: 0;
  font-family: "SF Pro-Regular", Helvetica;
  font-weight: 400;
  color: #484848;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .group-31 {
  position: absolute;
  width: 1281px;
  height: 620px;
  top: 0;
  left: 4px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.div-wrapper .group-32 {
  width: 1280.9px;
  height: 424px;
  position: relative;
}

.div-wrapper .group-33 {
  top: 0;
  background-image: url(./img/image-30-2.png);
  background-size: 100% 100%;
  position: absolute;
  left: 0;
  height: 424px;
  display: flex;
  padding: 17.3px 18px;
  align-items: flex-start;
  min-width: 420px;
  aspect-ratio: 0.99;
}

.div-wrapper .group-34 {
  top: 0;
  background-image: url(./img/image-31-3.png);
  position: absolute;
  left: calc(50.00% - 200px);
  height: 424px;
  display: flex;
  padding: 19.4px 15.5px;
  align-items: flex-start;
  min-width: 410px;
  background-size: cover;
  background-position: 50% 50%;
}

.div-wrapper .group-35 {
  top: 0;
  padding: 19.0px 14.6px;
  background-image: url(./img/image-31-4.png);
  position: absolute;
  left: calc(50.00% + 230px);
  height: 424px;
  display: flex;
  align-items: flex-start;
  min-width: 410px;
  aspect-ratio: 0.97;
  background-size: cover;
  background-position: 50% 50%;
}

.div-wrapper .group-36 {
  margin-left: 870px;
  width: 415px;
  height: 174px;
  position: relative;
}

.div-wrapper .text-wrapper-32 {
  top: 0;
  left: 370px;
  position: absolute;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-33 {
  position: absolute;
  top: 83px;
  left: 4px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 30px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .group-37 {
  position: absolute;
  width: 16.14%;
  height: 18.97%;
  top: 81.03%;
  left: 0;
}

.div-wrapper .group-38 {
  position: absolute;
  top: 0;
  left: 0;
  width: 437px;
  height: 170px;
}

.div-wrapper .text-wrapper-34 {
  position: absolute;
  top: 0;
  left: 3px;
  width: 76px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .text-wrapper-35 {
  position: absolute;
  top: 47px;
  left: 4px;
  width: 261px;
  font-family: "SF Pro-Regular", Helvetica;
  font-weight: 400;
  color: #484848;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .carhartt-3 {
  position: absolute;
  width: 410px;
  height: 172px;
  top: 0;
  left: 873px;
  display: flex;
}

.div-wrapper .group-39 {
  width: 420px;
  height: 172px;
  position: relative;
}

.div-wrapper .text-wrapper-36 {
  top: 0;
  left: 391px;
  white-space: nowrap;
  position: absolute;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .text-wrapper-37 {
  position: absolute;
  top: 90px;
  left: 0;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 30px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .img-wrapper {
  top: 139px;
  left: 2px;
  position: absolute;
  width: 33px;
  height: 33px;
}

.div-wrapper .text-wrapper-38 {
  position: absolute;
  top: 141px;
  left: 40px;
  font-family: "SF Pro-Regular", Helvetica;
  font-weight: 400;
  color: #747474;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .overlap-wrapper {
  align-self: center;
  margin-top: 30px;
  margin-right: 7.0px;
  display: flex;
  align-items: flex-start;
  min-width: 1285px;
}

.div-wrapper .overlap-4 {
  width: 1285px;
  height: 620px;
  position: relative;
}

.div-wrapper .text-wrapper-39 {
  position: absolute;
  top: 0;
  left: 3px;
  width: 148px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .text-wrapper-40 {
  position: absolute;
  top: 90px;
  left: 0;
  width: 162px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .text-wrapper-41 {
  position: absolute;
  top: 47px;
  left: 4px;
  width: 261px;
  font-family: "SF Pro-Regular", Helvetica;
  font-weight: 400;
  color: #484848;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .carhartt-4 {
  position: absolute;
  width: 415px;
  height: 172px;
  top: 446px;
  left: 441px;
  display: flex;
}

.div-wrapper .group-40 {
  width: 425px;
  height: 172px;
  position: relative;
}

.div-wrapper .text-wrapper-42 {
  top: 0;
  left: 396px;
  white-space: nowrap;
  position: absolute;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .text-wrapper-43 {
  position: absolute;
  top: 90px;
  left: 5px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 30px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .p {
  position: absolute;
  top: 48px;
  left: 3px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .heart-2 {
  top: 139px;
  left: 7px;
  position: absolute;
  width: 33px;
  height: 33px;
}

.div-wrapper .text-wrapper-44 {
  position: absolute;
  top: 141px;
  left: 45px;
  font-family: "SF Pro-Regular", Helvetica;
  font-weight: 400;
  color: #747474;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .group-41 {
  top: 0;
  background-image: url(./img/image-30-3.png);
  background-size: 100% 100%;
  position: absolute;
  left: 0;
  height: 424px;
  display: flex;
  padding: 17.3px 18px;
  align-items: flex-start;
  min-width: 420px;
  aspect-ratio: 0.99;
}

.div-wrapper .group-42 {
  width: 29.42px;
  height: 34.73px;
  position: relative;
}

.div-wrapper .text-wrapper-45 {
  position: absolute;
  top: 5px;
  left: 4px;
  width: 20px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .group-43 {
  top: 0;
  background-image: url(./img/image-31-5.png);
  position: absolute;
  left: calc(50.00% - 200px);
  height: 424px;
  display: flex;
  padding: 19.4px 15.5px;
  align-items: flex-start;
  min-width: 410px;
  background-size: cover;
  background-position: 50% 50%;
}

.div-wrapper .group-44 {
  height: 34px;
  aspect-ratio: 0.81;
  width: 27px;
  display: flex;
}

.div-wrapper .group-45 {
  width: 29.11px;
  height: 33.64px;
  position: relative;
}

.div-wrapper .text-wrapper-46 {
  position: absolute;
  top: 4px;
  left: calc(50.00% - 11px);
  width: 20px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .group-46 {
  top: 0;
  padding: 16px 14.6px;
  background-image: url(./img/image-31-6.png);
  position: absolute;
  left: calc(50.00% + 230px);
  height: 424px;
  display: flex;
  align-items: flex-start;
  min-width: 410px;
  aspect-ratio: 0.97;
  background-size: cover;
  background-position: 50% 50%;
}

.div-wrapper .group-47 {
  aspect-ratio: 0.8;
  width: 27px;
  display: flex;
}

.div-wrapper .group-48 {
  width: 29.11px;
  height: 34px;
  position: relative;
}

.div-wrapper .text-wrapper-47 {
  position: absolute;
  top: 4px;
  left: 3px;
  width: 22px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .text-wrapper-48 {
  position: absolute;
  top: 83px;
  left: 2px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 30px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .overlap-5 {
  width: 1284px;
  height: 620px;
  position: relative;
  align-self: flex-end;
  margin-top: 50px;
}

.div-wrapper .group-49 {
  position: absolute;
  height: 620px;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  min-width: 1284px;
}

.div-wrapper .overlap-6 {
  width: 1284px;
  height: 620px;
  position: relative;
  margin-top: 0;
}

.div-wrapper .group-50 {
  margin-top: 0;
  width: 437.12px;
  height: 170px;
  position: relative;
}

.div-wrapper .text-wrapper-49 {
  position: absolute;
  top: 1px;
  left: 3px;
  width: 76px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .text-wrapper-50 {
  top: 1px;
  left: 409px;
  width: 18px;
  position: absolute;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .text-wrapper-51 {
  position: absolute;
  top: 47px;
  left: 6px;
  width: 261px;
  font-family: "SF Pro-Regular", Helvetica;
  font-weight: 400;
  color: #484848;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .heart-3 {
  top: 137px;
  left: 6px;
  overflow: hidden;
  position: absolute;
  width: 33px;
  height: 33px;
}

.div-wrapper .vector-5 {
  position: absolute;
  width: 75.04%;
  height: 66.71%;
  top: -21971.07%;
  left: -6813.99%;
}

.div-wrapper .text-wrapper-52 {
  position: absolute;
  top: 139px;
  left: 44px;
  width: 26px;
  font-family: "SF Pro-Regular", Helvetica;
  font-weight: 400;
  color: #747474;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .carhartt-5 {
  position: absolute;
  width: 410px;
  height: 172px;
  top: 446px;
  left: 443px;
  display: flex;
}

.div-wrapper .group-51 {
  margin-top: 0;
  width: 420px;
  height: 172px;
  position: relative;
}

.div-wrapper .text-wrapper-53 {
  top: 1px;
  left: 391px;
  white-space: nowrap;
  position: absolute;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .text-wrapper-54 {
  position: absolute;
  top: 1px;
  left: 0;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.div-wrapper .heart-4 {
  top: 139px;
  left: 2px;
  overflow: hidden;
  position: absolute;
  width: 33px;
  height: 33px;
}

.div-wrapper .vector-6 {
  position: absolute;
  width: 75.04%;
  height: 66.71%;
  top: -22106.29%;
  left: -8190.58%;
}

.div-wrapper .group-52 {
  position: absolute;
  height: 620px;
  top: 0;
  left: 3px;
  flex-direction: column;
  gap: 22px;
  width: 1281px;
  display: flex;
}

.div-wrapper .group-53 {
  height: 424px;
  margin-top: 0;
  width: 1280.9px;
  position: relative;
}

.div-wrapper .group-54 {
  top: 1px;
  background-image: url(./img/image-31-8.png);
  background-size: 100% 100%;
  position: absolute;
  left: 0;
  height: 424px;
  display: flex;
  padding: 17.3px 18px;
  align-items: flex-start;
  min-width: 420px;
  aspect-ratio: 0.99;
}

.div-wrapper .group-55 {
  margin-top: 0;
  width: 29.42px;
  height: 34.89px;
  position: relative;
}

.div-wrapper .rectangle-3 {
  top: 1px;
  width: 27px;
  position: absolute;
  left: 0;
  height: 27px;
  background-color: #020202;
  aspect-ratio: 1;
}

.div-wrapper .group-56 {
  top: 1px;
  background-image: url(./img/image-31-8.png);
  position: absolute;
  left: calc(50.00% - 200px);
  height: 424px;
  display: flex;
  padding: 19.4px 15.5px;
  align-items: flex-start;
  min-width: 410px;
  background-size: cover;
  background-position: 50% 50%;
}

.div-wrapper .group-57 {
  margin-top: 0;
  width: 29.11px;
  height: 33.46px;
  position: relative;
}

.div-wrapper .group-58 {
  top: 1px;
  padding: 19.0px 14.6px;
  background-image: url(./img/image-31-8.png);
  position: absolute;
  left: calc(50.00% + 230px);
  height: 424px;
  display: flex;
  align-items: flex-start;
  min-width: 410px;
  aspect-ratio: 0.97;
  background-size: cover;
  background-position: 50% 50%;
}

.div-wrapper .group-59 {
  margin-top: 0;
  width: 29.11px;
  height: 33.82px;
  position: relative;
}

.div-wrapper .group-60 {
  margin-left: 874px;
  width: 411px;
  height: 174px;
  position: relative;
}

.div-wrapper .text-wrapper-55 {
  top: 1px;
  left: 366px;
  position: absolute;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.div-wrapper .group-61 {
  width: 16.30%;
  position: absolute;
  height: 18.97%;
  top: 81.03%;
  left: 0;
}

.div-wrapper .vector-7 {
  position: absolute;
  width: 36.96%;
  height: 66.71%;
  top: -10836.36%;
  left: -2874.63%;
}

.div-wrapper .group-62 {
  position: absolute;
  top: 1px;
  left: 0;
  width: 69px;
  height: 33px;
  display: flex;
}

.div-wrapper .text-wrapper-56 {
  margin-top: 0;
  width: 29px;
  height: 29px;
  margin-left: 38px;
  font-family: "SF Pro-Regular", Helvetica;
  font-weight: 400;
  color: #747474;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .group-63 {
  position: absolute;
  height: 172px;
  top: 446px;
  left: 0;
  display: flex;
  align-items: flex-start;
  min-width: 853px;
  gap: 16px;
}

.div-wrapper .bape-3 {
  width: 427px;
  height: 170px;
  margin-top: 0;
  display: flex;
  aspect-ratio: 2.51;
}

.div-wrapper .carhartt-6 {
  width: 410px;
  margin-top: 0;
  display: flex;
}

.div-wrapper .group-64 {
  position: absolute;
  height: 33px;
  top: 119px;
  left: 448px;
  aspect-ratio: 0.81;
  width: 27px;
  display: flex;
}

.div-wrapper .group-65 {
  height: 33.46px;
  flex: 1;
  position: relative;
}

.div-wrapper .rectangle-4 {
  width: 93.13%;
  top: 0;
  position: absolute;
  left: 0;
  height: 27px;
  background-color: #020202;
  aspect-ratio: 1;
}

.div-wrapper .text-wrapper-57 {
  position: absolute;
  width: 42.68%;
  height: 89.12%;
  top: 10.88%;
  left: 25.80%;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .rectangle-5 {
  left: 0;
  width: 1920px;
  height: 50px;
  position: absolute;
  top: 0;
}

.div-wrapper .image-2 {
  position: absolute;
  top: 550px;
  left: 749px;
  width: 426px;
  height: 424px;
  aspect-ratio: 1;
  object-fit: cover;
}
.card-link {
  display: block;           
  text-decoration: none;    
  color: inherit;           
}
