.div-wrapper {
  background-color: #ffffff;
  width: 100%;
  min-width: 1920px;
  min-height: 2614px;
  position: relative;
}

.div-wrapper .rectangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 50px;
  background-color: #000000;
}

.div-wrapper .image {
  position: absolute;
  top: 153px;
  left: 320px;
  width: 288px;
  height: 73px;
  aspect-ratio: 3.96;
}

.div-wrapper .group {
  position: absolute;
  top: 462px;
  left: calc(50.00% - 640px);
  width: 1286px;
  height: 1689px;
}

.div-wrapper .text-wrapper {
  position: absolute;
  top: 0;
  left: calc(50.00% - 72px);
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .div {
  position: absolute;
  top: 83px;
  left: 0;
  width: 472px;
  height: 237px;
  display: flex;
  flex-direction: column;
}

.div-wrapper .text-wrapper-2 {
  width: 45px;
  height: 29px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .p {
  width: 468px;
  height: 29px;
  margin-top: 6px;
  font-family: "SF Pro-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .group-2 {
  margin-left: 2px;
  width: 140px;
  height: 140px;
  position: relative;
  margin-top: 33px;
}

.div-wrapper .rectangle-2 {
  position: absolute;
  top: -2px;
  left: -2px;
  width: 143px;
  height: 143px;
  background-color: #eaeaea;
  border-radius: 25px;
  border: 3px dashed;
  border-color: #8f8f8f;
}

.div-wrapper .group-3 {
  position: absolute;
  top: 38px;
  left: 46px;
  width: 49px;
  height: 72px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.div-wrapper .group-wrapper {
  margin-left: 0;
  width: 46.88px;
  height: 46.88px;
  display: flex;
  background-color: #000000;
  border-radius: 23.44px;
}

.div-wrapper .group-4 {
  margin-top: 10.4px;
  width: 27.11px;
  height: 27.11px;
  margin-left: 10.8px;
  position: relative;
}

.div-wrapper .line {
  position: absolute;
  top: 0;
  left: 12px;
  width: 3px;
  height: 27px;
}

.div-wrapper .img {
  position: absolute;
  top: calc(50.00% - 2px);
  left: calc(50.00% - 14px);
  width: 27px;
  height: 3px;
}

.div-wrapper .text-wrapper-3 {
  margin-left: 7.8px;
  width: 39px;
  height: 18px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .group-5 {
  position: absolute;
  top: 374px;
  left: 0;
  width: 1282px;
  height: 148px;
}

.div-wrapper .group-6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1282px;
  height: 148px;
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.div-wrapper .rectangle-3 {
  width: 1280px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 15px;
  border: 1px solid;
  border-color: #8f8f8f;
}

.div-wrapper .text-wrapper-4 {
  position: absolute;
  top: 83px;
  left: 23px;
  font-family: "SF Pro-Regular", Helvetica;
  font-weight: 400;
  color: #8f8f8f;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .group-7 {
  position: absolute;
  top: 576px;
  left: 0;
  width: 1282px;
  height: 424px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.div-wrapper .text-wrapper-5 {
  width: 89px;
  height: 29px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .group-8 {
  height: 369px;
  position: relative;
}

.div-wrapper .rectangle-4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1280px;
  height: 369px;
  background-color: #ffffff;
  border-radius: 15px;
  border: 1px solid;
  border-color: #8f8f8f;
}

.div-wrapper .text-wrapper-6 {
  position: absolute;
  top: 32px;
  left: 23px;
  font-family: "SF Pro-Regular", Helvetica;
  font-weight: 400;
  color: #8f8f8f;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .group-9 {
  position: absolute;
  top: 1054px;
  left: 0;
  width: 1288px;
  height: 435px;
  display: flex;
  flex-direction: column;
}

.div-wrapper .text-wrapper-7 {
  width: 67px;
  height: 29px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .text-wrapper-8 {
  width: 89px;
  height: 29px;
  margin-top: 50px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .text-wrapper-9 {
  width: 128px;
  height: 29px;
  margin-top: 50px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .text-wrapper-10 {
  margin-left: 1px;
  width: 89px;
  height: 29px;
  margin-top: 50px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .group-10 {
  width: 1282px;
  height: 155px;
  position: relative;
  margin-top: 14px;
}

.div-wrapper .rectangle-5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1280px;
  height: 155px;
  background-color: #f6f6f6;
  border-radius: 15px;
  border: 1px solid;
  border-color: #8f8f8f;
}

.div-wrapper .text-wrapper-11 {
  position: absolute;
  top: 30px;
  left: 23px;
  width: 646px;
  font-family: "SF Pro-Regular", Helvetica;
  font-weight: 400;
  color: #8f8f8f;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.div-wrapper .rectangle-6 {
  position: absolute;
  top: 1589px;
  left: 1px;
  width: 1280px;
  height: 100px;
  background-color: #000000;
  border-radius: 15px;
}

.div-wrapper .group-11 {
  position: absolute;
  top: 1625px;
  left: 572px;
  width: 140px;
  height: 29px;
  display: flex;
}

.div-wrapper .text-wrapper-12 {
  width: 138px;
  height: 29px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .arrow-wrapper {
  position: absolute;
  top: 1069px;
  left: 1224px;
  width: 54px;
  height: 1px;
  display: flex;
}

.div-wrapper .arrow {
  margin-top: -11.0px;
  width: 57px;
  height: 22.09px;
  margin-left: -1.5px;
}

.div-wrapper .img-wrapper {
  position: absolute;
  top: 1148px;
  left: 1224px;
  width: 57px;
  height: 1px;
  display: flex;
}

.div-wrapper .arrow-2 {
  width: 60px;
  margin-top: -11.0px;
  height: 22.09px;
  margin-left: -1.5px;
}

.div-wrapper .group-12 {
  position: absolute;
  top: 1227px;
  left: 1224px;
  width: 60px;
  height: 1px;
  display: flex;
}

.div-wrapper .arrow-3 {
  width: 63px;
  margin-top: -11.0px;
  height: 22.09px;
  margin-left: -1.5px;
}

.div-wrapper .group-13 {
  position: absolute;
  top: 2266px;
  left: 0;
  width: 1920px;
  height: 348px;
  display: flex;
  background-image: url(./img/rectangle-140.svg);
  background-size: 100% 100%;
}

.div-wrapper .group-14 {
  margin-top: 106px;
  width: 1277.69px;
  margin-left: 319.5px;
  display: flex;
}

.div-wrapper .frame {
  width: 175px;
  height: 100px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  display: inline-flex;
  position: relative;
}

.div-wrapper .text-wrapper-13 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: var(--text);
  font-size: 20px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.div-wrapper .frame-2 {
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 0 0 auto;
  display: inline-flex;
  position: relative;
}

.div-wrapper .element {
  position: relative;
  width: 175px;
  margin-top: -1.00px;
  font-family: "SF Pro-Regular", Helvetica;
  font-weight: 400;
  color: var(--text);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.div-wrapper .frame-3 {
  width: 99px;
  height: 116px;
  margin-left: 402.9px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  display: inline-flex;
  position: relative;
}

.div-wrapper .text-wrapper-14 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "SF Pro-Medium", Helvetica;
  font-weight: 500;
  color: var(--text);
  font-size: 20px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-15 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "SF Pro-Regular", Helvetica;
  font-weight: 400;
  color: var(--text);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-16 {
  position: relative;
  width: fit-content;
  font-family: "SF Pro-Regular", Helvetica;
  font-weight: 400;
  color: var(--text);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.div-wrapper .frame-wrapper {
  width: 198px;
  height: 136px;
  margin-left: 402.8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  display: inline-flex;
  position: relative;
}

.div-wrapper .frame-4 {
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 0 0 auto;
  display: inline-flex;
  position: relative;
}

.div-wrapper .frame-5 {
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex: 0 0 auto;
  display: inline-flex;
  position: relative;
}

.div-wrapper .frame-6 {
  align-items: center;
  gap: 8px;
  flex: 0 0 auto;
  display: inline-flex;
  position: relative;
}

.div-wrapper .qr-code {
  position: relative;
  width: 80px;
  height: 80px;
  background-color: #000000;
}

.div-wrapper .qrcode {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.div-wrapper .frame-7 {
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex: 0 0 auto;
  display: inline-flex;
  position: relative;
}

.div-wrapper .google-play {
  position: relative;
  width: 110px;
  height: 40px;
  background-color: #030406;
}

.div-wrapper .png-transparent {
  position: absolute;
  top: 4px;
  left: 2px;
  width: 105px;
  height: 31px;
}

.div-wrapper .vector {
  position: absolute;
  top: 22px;
  left: 99px;
  width: 2px;
  height: 2px;
}

.div-wrapper .vector-2 {
  position: absolute;
  top: 21px;
  left: 98px;
  width: 2px;
  height: 5px;
}

.div-wrapper .vector-3 {
  position: absolute;
  top: 22px;
  left: 94px;
  width: 1px;
  height: 1px;
}

.div-wrapper .vector-4 {
  position: absolute;
  top: 22px;
  left: 98px;
  width: 2px;
  height: 3px;
}

.div-wrapper .app-store {
  position: relative;
  width: 110px;
  height: 40px;
  background-color: #000000;
}

.div-wrapper .download-appstore {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 105px;
  height: 35px;
}

.div-wrapper .group-15 {
  position: absolute;
  width: 1280px;
  height: 54px;
  top: 320px;
  left: 320px;
  display: flex;
}

.div-wrapper .group-16 {
  margin-top: 0;
  width: 1282px;
  height: 53.78px;
  margin-left: 0;
  position: relative;
}

.div-wrapper .group-17 {
  position: absolute;
  top: 1px;
  left: calc(50.00% - 641px);
  width: 1280px;
  height: 54px;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 4px 6.5px 2px #00000040;
}

.div-wrapper .text-wrapper-17 {
  position: absolute;
  top: 15px;
  left: 84px;
  width: 495px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #7f7f7f;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.div-wrapper .vector-5 {
  position: absolute;
  width: 2.04%;
  height: 50.40%;
  top: 22.37%;
  left: 0;
}

.div-wrapper .navbar {
  position: absolute;
  top: 176px;
  left: 908px;
  width: 705px;
  height: 32px;
  display: flex;
}

.div-wrapper .text-wrapper-18 {
  width: 166px;
  height: 29px;
  font-family: "SF Pro-Semibold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .text-wrapper-19 {
  width: 166px;
  height: 29px;
  margin-left: 4px;
  font-family: "SF Pro-Semibold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .text-wrapper-20 {
  width: 119px;
  height: 5px;
  margin-left: 23px;
  font-family: "SF Pro-Semibold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-21 {
  width: 133px;
  height: 32px;
  font-family: "SF Pro-Semibold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .text-wrapper-22 {
  width: 80px;
  height: 32px;
  margin-left: 4px;
  font-family: "SF Pro-Semibold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .buy {
  position: absolute;
  width: 205px;
  height: 48px;
  top: 166px;
  left: 1641px;
  display: flex;
}

.div-wrapper .group-18 {
  width: 206.97px;
  height: 48px;
  position: relative;
}

.div-wrapper .rectangle-7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 205px;
  height: 48px;
  background-color: #000000;
}

.div-wrapper .text-wrapper-23 {
  position: absolute;
  top: 9px;
  left: 58px;
  width: 86px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
