.my-page-wishlist {
  background-color: #ffffff;
  width: 100%;
  min-width: 1920px;
  min-height: 2307px;
  position: relative;
}

.my-page-wishlist .group {
  position: absolute;
  top: 1663px;
  left: 321px;
  width: 1280px;
  height: 300px;
}

.my-page-wishlist .element {
  position: absolute;
  top: 0;
  left: 644px;
  width: 312px;
  height: 300px;
  object-fit: cover;
}

.my-page-wishlist .img {
  position: absolute;
  top: 0;
  left: 966px;
  width: 312px;
  height: 300px;
  object-fit: cover;
}

.my-page-wishlist .element-2 {
  position: absolute;
  top: 0;
  left: 322px;
  width: 312px;
  height: 300px;
  object-fit: cover;
}

.my-page-wishlist .element-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 312px;
  height: 300px;
  object-fit: cover;
}

.my-page-wishlist .text-wrapper {
  position: absolute;
  top: 136px;
  left: 131px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.my-page-wishlist .rectangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 50px;
  background-color: #000000;
}

.my-page-wishlist .image {
  position: absolute;
  top: 153px;
  left: 320px;
  width: 288px;
  height: 73px;
  aspect-ratio: 3.96;
}

.my-page-wishlist .div {
  position: absolute;
  top: 459px;
  left: 320px;
  width: 354px;
  height: 138px;
}

.my-page-wishlist .ellipse {
  position: absolute;
  top: 0;
  left: 0;
  width: 138px;
  height: 138px;
}

.my-page-wishlist .text-wrapper-2 {
  position: absolute;
  top: 27px;
  left: 168px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.my-page-wishlist .text-wrapper-3 {
  position: absolute;
  top: 65px;
  left: 168px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #a1a1a1;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.my-page-wishlist .group-2 {
  position: absolute;
  top: 93px;
  left: 172px;
  width: 186px;
  height: 18px;
  display: flex;
}

.my-page-wishlist .text-wrapper-4 {
  margin-top: 1px;
  width: 39px;
  height: 17px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #a2a2a2;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.my-page-wishlist .text-wrapper-5 {
  width: 20px;
  height: 17px;
  margin-left: 12px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.my-page-wishlist .text-wrapper-6 {
  margin-top: 1px;
  width: 26px;
  height: 17px;
  margin-left: 32px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #a2a2a2;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.my-page-wishlist .star {
  margin-top: 2px;
  width: 13.31px;
  height: 12.66px;
  margin-left: 7.3px;
}

.my-page-wishlist .text-wrapper-7 {
  width: 24px;
  height: 17px;
  margin-left: 4.3px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.my-page-wishlist .rectangle-2 {
  position: absolute;
  top: 823px;
  left: 320px;
  width: 1280px;
  height: 6px;
  background-color: #d9d9d9;
}

.my-page-wishlist .group-3 {
  position: absolute;
  top: calc(50.00% - 436px);
  left: calc(50.00% - 639px);
  width: 1282px;
  height: 300px;
}

.my-page-wishlist .rectangle-3 {
  position: absolute;
  top: calc(50.00% - 150px);
  left: calc(50.00% - 641px);
  width: 312px;
  height: 300px;
  aspect-ratio: 1.04;
  object-fit: cover;
}

.my-page-wishlist .rectangle-4 {
  position: absolute;
  top: calc(50.00% - 150px);
  left: calc(50.00% - 319px);
  width: 312px;
  height: 300px;
  aspect-ratio: 1.04;
  object-fit: cover;
}

.my-page-wishlist .rectangle-5 {
  position: absolute;
  top: calc(50.00% - 150px);
  left: calc(50.00% + 3px);
  width: 312px;
  height: 300px;
  aspect-ratio: 1.04;
  object-fit: cover;
}

.my-page-wishlist .text-wrapper-8 {
  top: 136px;
  left: 775px;
  position: absolute;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.my-page-wishlist .rectangle-6 {
  position: absolute;
  top: calc(50.00% - 150px);
  left: calc(50.00% + 325px);
  width: 312px;
  height: 300px;
  aspect-ratio: 1.04;
  object-fit: cover;
}

.my-page-wishlist .group-wrapper {
  position: absolute;
  width: 1280px;
  height: 54px;
  top: 320px;
  left: 320px;
  display: flex;
}

.my-page-wishlist .group-4 {
  margin-top: 0;
  width: 1282px;
  height: 53.78px;
  margin-left: 0;
  position: relative;
}

.my-page-wishlist .group-5 {
  position: absolute;
  top: 1px;
  left: calc(50.00% - 641px);
  width: 1280px;
  height: 54px;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 4px 6.5px 2px #00000040;
}

.my-page-wishlist .text-wrapper-9 {
  position: absolute;
  top: 15px;
  left: 84px;
  width: 495px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #7f7f7f;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.my-page-wishlist .vector {
  position: absolute;
  width: 2.04%;
  height: 50.40%;
  top: 22.37%;
  left: 0;
}

.my-page-wishlist .navbar {
  position: absolute;
  top: 176px;
  left: 908px;
  width: 705px;
  height: 32px;
  display: flex;
}

.my-page-wishlist .text-wrapper-10 {
  width: 166px;
  height: 29px;
  font-family: "SF Pro-Semibold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.my-page-wishlist .text-wrapper-11 {
  width: 166px;
  height: 29px;
  margin-left: 4px;
  font-family: "SF Pro-Semibold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.my-page-wishlist .text-wrapper-12 {
  width: 119px;
  height: 5px;
  margin-left: 23px;
  font-family: "SF Pro-Semibold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.my-page-wishlist .text-wrapper-13 {
  width: 133px;
  height: 32px;
  font-family: "SF Pro-Semibold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.my-page-wishlist .text-wrapper-14 {
  width: 80px;
  height: 32px;
  margin-left: 4px;
  font-family: "SF Pro-Semibold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.my-page-wishlist .buy {
  position: absolute;
  width: 205px;
  height: 48px;
  top: 166px;
  left: 1641px;
  display: flex;
}

.my-page-wishlist .group-6 {
  width: 206.97px;
  height: 48px;
  position: relative;
}

.my-page-wishlist .rectangle-7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 205px;
  height: 48px;
  background-color: #000000;
}

.my-page-wishlist .text-wrapper-15 {
  position: absolute;
  top: 9px;
  left: 58px;
  width: 86px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.my-page-wishlist .div-wrapper {
  position: absolute;
  height: 35px;
  top: 640px;
  left: 671px;
  display: flex;
  align-items: flex-start;
  min-width: 578px;
}

.my-page-wishlist .group-7 {
  width: 578px;
  display: flex;
}

.my-page-wishlist .group-8 {
  width: 111px;
  height: 35px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.my-page-wishlist .group-9 {
  margin-left: 26px;
  width: 61px;
  display: flex;
}

.my-page-wishlist .text-wrapper-16 {
  width: 59px;
  height: 29px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #0000007d;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.my-page-wishlist .line {
  width: 111px;
  height: 2px;
}

.my-page-wishlist .group-10 {
  width: 111px;
  margin-left: 109px;
  display: flex;
}

.my-page-wishlist .group-11 {
  width: 113px;
  height: 35px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.my-page-wishlist .text-wrapper-17 {
  margin-left: 25px;
  width: 55px;
  height: 29px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #0000007d;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.my-page-wishlist .group-12 {
  width: 111px;
  height: 35px;
  margin-left: 136px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.my-page-wishlist .group-13 {
  margin-left: 11px;
  width: 92px;
  display: flex;
}

.my-page-wishlist .text-wrapper-18 {
  width: 90px;
  height: 29px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.my-page-wishlist .group-14 {
  position: absolute;
  top: 1959px;
  left: 0;
  width: 1920px;
  height: 348px;
  display: flex;
  background-image: url(./img/rectangle-140.svg);
  background-size: 100% 100%;
}

.my-page-wishlist .group-15 {
  margin-top: 106px;
  width: 1277.69px;
  margin-left: 319.5px;
  display: flex;
}

.my-page-wishlist .frame {
  display: inline-flex;
  width: 175px;
  height: 100px;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.my-page-wishlist .text-wrapper-19 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: var(--text);
  font-size: 20px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.my-page-wishlist .frame-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.my-page-wishlist .element-4 {
  position: relative;
  width: 175px;
  margin-top: -1.00px;
  font-family: "SF Pro-Regular", Helvetica;
  font-weight: 400;
  color: var(--text);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.my-page-wishlist .frame-3 {
  display: inline-flex;
  width: 99px;
  height: 116px;
  position: relative;
  margin-left: 402.9px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.my-page-wishlist .text-wrapper-20 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "SF Pro-Medium", Helvetica;
  font-weight: 500;
  color: var(--text);
  font-size: 20px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.my-page-wishlist .text-wrapper-21 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "SF Pro-Regular", Helvetica;
  font-weight: 400;
  color: var(--text);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.my-page-wishlist .text-wrapper-22 {
  position: relative;
  width: fit-content;
  font-family: "SF Pro-Regular", Helvetica;
  font-weight: 400;
  color: var(--text);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.my-page-wishlist .frame-wrapper {
  display: inline-flex;
  width: 198px;
  height: 136px;
  position: relative;
  margin-left: 402.8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.my-page-wishlist .frame-4 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.my-page-wishlist .frame-5 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.my-page-wishlist .frame-6 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.my-page-wishlist .qr-code {
  position: relative;
  width: 80px;
  height: 80px;
  background-color: #000000;
}

.my-page-wishlist .qrcode {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.my-page-wishlist .frame-7 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.my-page-wishlist .google-play {
  position: relative;
  width: 110px;
  height: 40px;
  background-color: #030406;
}

.my-page-wishlist .png-transparent {
  position: absolute;
  top: 4px;
  left: 2px;
  width: 105px;
  height: 31px;
}

.my-page-wishlist .vector-2 {
  position: absolute;
  top: 22px;
  left: 99px;
  width: 2px;
  height: 2px;
}

.my-page-wishlist .vector-3 {
  position: absolute;
  top: 21px;
  left: 98px;
  width: 2px;
  height: 5px;
}

.my-page-wishlist .vector-4 {
  position: absolute;
  top: 22px;
  left: 94px;
  width: 1px;
  height: 1px;
}

.my-page-wishlist .vector-5 {
  position: absolute;
  top: 22px;
  left: 98px;
  width: 2px;
  height: 3px;
}

.my-page-wishlist .app-store {
  position: relative;
  width: 110px;
  height: 40px;
  background-color: #000000;
}

.my-page-wishlist .download-appstore {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 105px;
  height: 35px;
}

.my-page-wishlist .group-16 {
  position: absolute;
  top: 524px;
  left: 716px;
  width: 419px;
  height: 48px;
  display: flex;
  gap: 23px;
}

.my-page-wishlist .frame-8 {
  width: 198px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  border-radius: 4px;
  overflow: hidden;
}

.my-page-wishlist .text-wrapper-23 {
  margin-top: -1px;
  height: 17px;
  margin-left: 1px;
  width: 39px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.my-page-wishlist .frame-9 {
  width: 198px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid;
  border-color: #000000;
}

.my-page-wishlist .text-wrapper-24 {
  margin-top: -1px;
  height: 17px;
  width: 52px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.my-page-wishlist .group-17 {
  position: absolute;
  top: 1033px;
  left: 321px;
  width: 1278px;
  height: 300px;
  display: flex;
  gap: 10px;
}

.my-page-wishlist .element-5 {
  width: 312px;
  height: 300px;
  object-fit: cover;
}

.my-page-wishlist .group-18 {
  position: absolute;
  top: 1348px;
  left: 321px;
  width: 1282px;
  height: 300px;
}

.my-page-wishlist .text-wrapper-25 {
  top: 136px;
  left: 1097px;
  position: absolute;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.my-page-wishlist .text-wrapper-26 {
  top: 1169px;
  left: 774px;
  position: absolute;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}
