.main {
  position: relative;
  width: 1920px;
  height: 3123px;
  background-color: #ffffff;
  overflow: hidden;
  border: 1px solid;
  border-color: transparent;
}

.main .text-wrapper {
  position: absolute;
  top: 740px;
  left: calc(50.00% - 531px);
  font-family: "Inter", Helvetica;
  font-size: 30px;
  font-weight: 400;
  color: #000000;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main .div {
  position: absolute;
  top: 1597px;
  left: 296px;
  width: 114px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.main .group {
  position: absolute;
  top: 1652px;
  left: calc(50.00% - 188px);
  width: 381px;
  height: 281px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
}

.main .text-wrapper-2 {
  margin-left: -13px;
  height: 29px;
  width: 214px;
  text-shadow: 0px 4px 6.5px #00000040;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main .text-wrapper-3 {
  margin-left: -14px;
  height: 29px;
  width: 367px;
  text-shadow: 0px 4px 6.5px #00000040;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main .text-wrapper-4 {
  margin-left: -12px;
  height: 29px;
  width: 237px;
  text-shadow: 0px 4px 6.5px #00000040;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main .text-wrapper-5 {
  margin-left: -14px;
  height: 29px;
  width: 339px;
  text-shadow: 0px 4px 6.5px #00000040;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main .navbar {
  position: absolute;
  top: 176px;
  left: 909px;
  width: 705px;
  height: 32px;
  display: flex;
}

.main .text-wrapper-6 {
  width: 166px;
  height: 29px;
  font-family: "SF Pro-Semibold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.main .text-wrapper-7 {
  width: 166px;
  height: 29px;
  margin-left: 4px;
  font-family: "SF Pro-Semibold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.main .text-wrapper-8 {
  width: 119px;
  height: 5px;
  margin-left: 23px;
  font-family: "SF Pro-Semibold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main .text-wrapper-9 {
  width: 133px;
  height: 32px;
  font-family: "SF Pro-Semibold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.main .text-wrapper-10 {
  width: 80px;
  height: 32px;
  margin-left: 4px;
  font-family: "SF Pro-Semibold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.main .image {
  position: absolute;
  top: 167px;
  left: 462px;
  width: 198px;
  height: 50px;
  aspect-ratio: 3.96;
}

.main .rectangle {
  position: absolute;
  top: 248px;
  left: 0;
  width: 1920px;
  height: 632px;
}

.main .img {
  position: absolute;
  top: -2420px;
  left: 3762px;
  width: 3276px;
  height: 4096px;
  aspect-ratio: 0.8;
  object-fit: cover;
}

.main .group-2 {
  position: absolute;
  top: 750px;
  left: 881px;
  width: 160px;
  height: 37px;
}

.main .rectangle-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 158px;
  height: 37px;
  background-color: #000000;
  border: 0.4px solid;
  border-color: #ffffff;
}

.main .text-wrapper-11 {
  position: absolute;
  top: 10px;
  left: 46px;
  width: 66px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main .buy {
  position: absolute;
  width: 205px;
  height: 48px;
  top: 166px;
  left: 1642px;
  display: flex;
}

.main .group-3 {
  width: 206.97px;
  height: 48px;
  position: relative;
}

.main .rectangle-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 205px;
  height: 48px;
  background-color: #000000;
}

.main .text-wrapper-12 {
  position: absolute;
  top: 9px;
  left: 58px;
  width: 86px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main .group-4 {
  position: absolute;
  width: 1280px;
  height: 637px;
  top: 925px;
  left: 321px;
  display: flex;
  flex-direction: column;
  gap: 50.2px;
}

.main .group-5 {
  width: 1284px;
  height: 308.79px;
  display: flex;
  flex-direction: column;
}

.main .text-wrapper-13 {
  margin-left: 0.5px;
  width: 85.83px;
  height: 29px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.main .text-wrapper-14 {
  margin-left: 2.5px;
  width: 81.84px;
  height: 13px;
  margin-top: 2px;
  font-family: "SF Pro-Semibold", Helvetica;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main .group-6 {
  width: 1280px;
  height: 241.79px;
  position: relative;
  margin-top: 23px;
}

.main .rectangle-4 {
  position: absolute;
  top: 105px;
  left: 0;
  width: 1280px;
  height: 6px;
  background-color: #d9d9d9;
}

.main .rectangle-5 {
  position: absolute;
  top: calc(50.00% - 121px);
  left: calc(50.00% - 640px);
  width: 252px;
  height: 242px;
  object-fit: cover;
}

.main .rectangle-6 {
  position: absolute;
  top: calc(50.00% - 121px);
  left: calc(50.00% - 383px);
  width: 252px;
  height: 242px;
  object-fit: cover;
}

.main .rectangle-7 {
  position: absolute;
  top: calc(50.00% - 121px);
  left: calc(50.00% - 126px);
  width: 252px;
  height: 242px;
  object-fit: cover;
}

.main .rectangle-8 {
  position: absolute;
  top: calc(50.00% - 121px);
  left: calc(50.00% + 131px);
  width: 252px;
  height: 242px;
  object-fit: cover;
}

.main .rectangle-9 {
  position: absolute;
  top: calc(50.00% - 121px);
  left: calc(50.00% + 388px);
  width: 252px;
  height: 242px;
  object-fit: cover;
}

.main .group-7 {
  width: 1282px;
  height: 277.79px;
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.main .text-wrapper-15 {
  margin-left: 2.5px;
  width: 81.84px;
  height: 13px;
  font-family: "SF Pro-Semibold", Helvetica;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main .group-8 {
  width: 1280px;
  height: 241.79px;
  position: relative;
}

.main .p {
  position: absolute;
  top: 3434px;
  left: calc(50.00% - 163px);
  width: 325px;
  font-family: "SF Pro-Semibold", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.main .group-9 {
  position: absolute;
  top: 2041px;
  left: 0;
  width: 1924px;
  height: 634px;
}

.main .rectangle-10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 634px;
}

.main .rectangle-11 {
  position: absolute;
  top: 375px;
  left: calc(50.00% - 81px);
  width: 158px;
  height: 48px;
  background-color: #000000;
  border: 0.4px solid;
  border-color: #ffffff;
}

.main .text-wrapper-16 {
  position: absolute;
  top: 388px;
  left: calc(50.00% - 51px);
  width: 98px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.main .light-and-warm {
  position: absolute;
  top: 260px;
  left: calc(50.00% - 339px);
  width: 673px;
  text-shadow: 0px 4px 6.5px #00000040;
  font-family: "SF Pro-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 70px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.main .span {
  font-family: "SF Pro-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 70px;
  letter-spacing: 0;
}

.main .text-wrapper-17 {
  font-size: 25px;
}

.main .rectangle-12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 50px;
  background-color: #000000;
}
